/* Tailwind base styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ensure custom fonts are loaded */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Define light and dark mode styles */
body {
  @apply bg-background-light text-foreground-light;
}

.dark body {
  @apply bg-background-dark text-foreground-dark;
}
.container {
  max-width: 100;
  padding: 0 15px;
  margin: 0 auto;
}

@keyframes zoomInOut {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

.glow-button {
  animation: zoomInOut 3s infinite;
  box-shadow:
    0 0 10px rgba(255, 255, 255, 0.7),
    0 0 20px rgba(255, 255, 255, 0.7),
    0 0 30px rgba(255, 255, 255, 0.7);
}

